Unidecode
bs4
# fastxml
gensim
ipykernel
ipynb-py-convert
itertools-s
jinja2
lxml
matplotlib
mglearn
mplcursors
mpu
nano
nltk
numpy
pandas
# python-matplotlib
scikit-multilearn
scipy
seaborn
sklearn
tqdm
# vim
virtualenv